body{
  margin: 0;

}

.topbar{
  list-style-type: none;
  justify-content: space-between;
  top:0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center; 
}

.social{
  display: flex;
  flex-direction: row;
  
}

.topbar #join-btn{
  color: black;
  padding: 9px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 7px;
  text-decoration: none;
  background-color: white;
  border: none;
  margin: none;
  cursor: pointer;
  font-family: 'canva sans', sans-serif;
  font-weight: bold;
}

#social1, #social2, #social3{
  padding-top: 17px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 7px;
}


.home{
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}


.topbar li a{
  display: block;
  color: white;
  font-weight: bold;
  font-family: 'canva sans', sans-serif;
  cursor: pointer;
}

.topbar li a:hover{
  color: #d4d3d3;
}


.home-p h1{
  margin: auto;
  width: 50%;
  padding-top: 30px;
  font-weight: bold;
  width:100%;
}

.home-p{
  font-family: 'canva sans', sans-serif;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 2rem;
}

.home-p p{
  margin-left: 2rem;
  max-width: 30rem;
  text-overflow: ellipsis;
}


.navbar ul{
 margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  padding:0;
}


.navbar ul li {
  font-family:'canva sans', sans-serif;
  font-weight: bold;
  float: left;
  padding: 0;
  border: 0;
}

.navbar ul li:last-child{
  float: right;
  margin-right: 5rem;
}



.navbar ul li a{
  display: block;
  color: white;
  text-align: center;
  padding-right: 27px;
  text-decoration: none;
}

.active{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.56rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.01ch;
}


.navbar ul li a:hover{
  color: #a8a8a8;
}


@media (min-width: 767px) and (max-width: 15000px){
  .mobile ul{
    display: none;
  }

}


@media (max-width: 767px) {
  
  .navbar ul{
    display: none;
  }


  .social{
    opacity: 0;
  }

  .mobile ul{
  margin: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  bottom: 0;
  width: 100%;
  z-index: 1;
  }

  .mobileactive{
  float: left;
  border-right: 3px solid #ffffffc2;
  }

  .mobile-link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: center;
  }

  .mobile-btnl{
  padding-left: 3rem; 
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 0.3rem; 
  margin-right: 1rem;
  border-radius: 9px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-family: 'canva sans', sans-serif;
  font-weight: bold;
  text-align: center;
  }
 

  .mobileactive:hover{
    background-color: #58A4B0;
  }

  
}